html,
body,
h1,
h2,
p,
ul,
li,
a,
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #7e448a;
    background-color: #000;
    color: #fff;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #69491e;
}

/* Header styles */
header {
    background-color: teal;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.cool-pic {
    height: 400px;
    width: 100%;
}

section #rachel {
    width: 20%;
    height: 20%;
}

#about-me-aside{
    display: flex;
    flex-direction: column;
}

/* Work section styles */
#work {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 3px solid black;
    clear: both;
    display: flex;
    justify-content: space-between;

}
.workimages{
    width: 800px;
}

/* #work div {
    padding-left: 20%;
    justify-content: center;
    width: 50%;
    border: 3px solid rgb(72, 76, 187);
}

#work h2 {
    font-size: 24px;
    color: purple;
    margin-bottom: 10px;
    border: solid 2px;
} */

/* #work a {
    display: block;
    border: 3px solid black;
    float: center;
    margin-right: 10%; */
    
/* } */
#workHeader{
    float: left;
    width: 19%;
}
#funTimes{
    float: right;
    border-left: 2px solid rgb(243, 245, 241);
    width: 80%;
    padding-left: 5px;
}
.projects{
border: 2px solid #edecf0;
}
.projects h2{
    background-color: rgb(6, 0, 1);
    width: 30%;
    height: 50px;
    margin-top: 450px;
    /* position:sticky;
    bottom: 0;
    left: 0 */

}
#project1{

}

#project2{
width: 45%;
height: 500px;
float: left;
background-image: url("calculator.jpeg");
background-size: cover;
}

#project3{
width: 45%;
height: 500px;
float: right;
background-image: url("sudoku.png");
background-size: contain;
}

.refactor,
.small-pic {
    /* display: block; */
    max-width: 100%;
    /* height: auto; */
    margin-bottom: 10px;
}

.profile-pic {
    display: block;
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

/* Contact section styles */
#contact {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    clear: both;
    border: 2px solid #fff;
}

#contact h2 {
    font-size: 24px;
    color: rgb(118, 41, 118);
    margin-right: 20px;
    font-weight: bold;
}

#contact p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #a9c2c7;
}

#contact p:not(:last-child) {
    margin-right: 20px;
}

#contact a {
    color: purple;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    #contact h2 {
        font-size: 20px;
    }
}



/* Responsive styles */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 20px;
    }

    #about {
        padding: 10px;
        border: 2px, solid, #f6f4f4;
    }

    #about img,
    .small-pic {
        max-width: 30px;
    }
}
.about-me-text{
    border-left: 2px solid #f6f4f4; 
    max-width: 800px;
}
.aboutMeHeader{
float: left;
}
#about{
    display: flex;
    justify-content: space-between;
    

    
}
#rachel{
    width: 100px;
    height: 200px;
}